params.chromosomes = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', 'X']
params.quant_methods = ['ge', 'microarray', 'exon', 'tx', 'txrev']

// ---------------- runtime args ----------------------

/* The meta_table must be a tsv e.g. example_metadata.tsv
   It must contain the following headers:
   'study', 'qtl_group', 'quant_method', 'tissue_ontology_id','filename'
   where 'filename' stores the basenames of the input tsvs
*/
params.meta_table = 'data/example_metadata.tsv'

// The directory for the input tsvs:
params.tsv_in = 'data/sumstats_small/'

// The directories where the HDF5 are published (by study, by chromsome)
params.hdf5_study_dir = 'data/hdf/bystudy/'
params.hdf5_chrom_dir = 'data/hdf/bychr/'

// The parent directory for your container to bind
params.data_dir = 'data/'


// For LSF execution the exitReadTimeout may need increasing to
// something much larger than you'd expect
//executor {
//  name = 'lsf'
//  queueSize = 100
//  exitReadTimeout = '1200 sec'
//}
