adal
aiobotocore
# aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
annotated-types
anyio
asgiref
async-timeout
atomicwrites
attrs
azure-core
babel
blinker
# blosc2b
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
coverage
cryptography
Cython
dnspython
docutils
eventlet
fastapi
Flask
flask-cors
frozenlist
fsspec
greenlet
h11
httplib2
idna
imagesize
importlib_metadata
iniconfig
isodate
itsdangerous
Jinja2
jmespath
MarkupSafe
monotonic
more-itertools
motor
msgpack
msrest
msrestazure
multidict
ndindex
numexpr
numpy
oauthlib
orjson
packaging
pandas
Paste
platformdirs
pluggy
# propcache
protobuf
py
py-cpuinfo
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pymongo
pyparsing
pytest
pytest-cov
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
# roman-numerals-py
rsa
s3fs
setuptools
simplejson
six
sniffio
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-httpdomain
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
starlette
tables
types-setuptools
# typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
wcwidth
Werkzeug
wrapt
yarl
zipp
