alabaster==0.7.12
aniso8601==8.0.0
anyio==3.6.2
appnope==0.1.0
asgiref==3.4.1
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.2.0
certifi==2018.11.29
chardet==3.0.4
charset-normalizer==2.0.12
Click==7.0
contextlib2==21.6.0
contextvars==2.4
coverage==4.5.4
dataclasses==0.8
decorator==4.4.2
dnspython==1.16.0
docutils==0.15.2
email-validator==1.3.0
eventlet==0.25.1
fastapi==0.83.0
flake8==5.0.4
Flask==1.1.1
Flask-Cors==3.0.9
flask-restplus==0.13.0
greenlet==0.4.15
gunicorn==19.9.0
h11==0.13.0
h5py==2.8.0
httptools==0.3.0
idna==2.8
imagesize==1.1.0
immutables==0.19
importlib-metadata==4.2.0
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==3.0.3
jsonschema==3.2.0
MarkupSafe==2.0.1
mccabe==0.7.0
monotonic==1.5
more-itertools==7.2.0
numexpr==2.7.0
numpy==1.15.4
orjson==3.6.1
packaging==19.1
pandas==0.19.2
parso==0.7.1
Paste==3.1.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.12.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.9.1
pydantic==1.9.2
pyflakes==2.5.0
Pygments==2.4.2
pyparsing==2.4.2
pyrsistent==0.17.3
pytest==5.1.1
pytest-cov==2.7.1
python-dateutil==2.8.0
python-dotenv==0.20.0
python-multipart==0.0.5
pytz==2019.2
PyYAML==6.0
requests==2.27.1
simplejson==3.16.0
six==1.14.0
sniffio==1.2.0
snowballstemmer==1.9.1
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
starlette==0.19.1
tables==3.6.1
traitlets==4.3.3
typing-extensions==4.1.1
ujson==4.0.1
urllib3==1.24.2
uvicorn==0.16.0
uvloop==0.14.0
watchgod==0.7
wcwidth==0.1.7
websockets==9.1
Werkzeug==0.15.5
zipp==0.6.0
