alabaster==0.7.12
anyio==3.6.2
asgiref==3.6.0
async-timeout==4.0.2
atomicwrites==1.3.0
attrs==21.4.0
azure-core==1.24.2
Babel==2.7.0
botocore==1.24.21
cachetools==4.2.4
certifi==2018.11.29
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.0
Click==7.0
coverage==4.5.4
cryptography==37.0.4
Cython==0.29.32
dnspython==1.16.0
docutils==0.15.2
eventlet==0.35.2
fastapi==0.83.0
Flask==1.1.1
Flask-Cors==3.0.9
frozenlist==1.3.0
fsspec==2022.5.0
greenlet==2.0.1
h11==0.14.0
httplib2==0.20.4
idna==3.3
imagesize==1.1.0
importlib-metadata
isodate==0.6.1
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==1.0.1
MarkupSafe==1.1.1
monotonic==1.5
more-itertools==7.2.0
msgpack==1.0.4
msrest==0.7.1
msrestazure==0.6.4
multidict==6.0.2
numexpr==2.8.4
numpy==1.21.6
oauthlib==3.2.0
orjson==3.8.3
packaging==19.1
pandas==1.3.5
Paste==3.1.1
pluggy==0.12.0
protobuf==4.21.2
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic>=1.9.2
Pygments==2.4.2
PyJWT==2.4.0
pyparsing==2.4.2
pytest==5.1.1
pytest-cov==2.7.1
python-dateutil==2.8.2
pytz==2019.2
requests
rsa==4.9
s3fs==2022.5.0
simplejson==3.16.0
sniffio==1.3.0
snowballstemmer==1.9.1
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
starlette==0.19.1
tables==3.6.1
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.10
uvicorn==0.16.0
wcwidth==0.1.7
Werkzeug==0.15.5
wrapt==1.14.1
yarl==1.7.2
zipp==0.6.0